<ul class="timeline">
  <li>
    <div class="direction-r">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">Hello World!</span>
        <span class="time-wrapper"><span class="time">Dec 1995</span></span>
      </div>
      <div class="desc">Born in Gangnam (Yes, from the <a href='https://www.youtube.com/watch?v=9bZkp7q19f0'>song</a>), Seoul - South Korea.</div>
    </div>
  </li>

  <li>
    <div class="direction-l">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">Paris, France</span>
        <span class="time-wrapper"><span class="time">Sep 1996</span></span>
      </div>
      <div class="desc">Celebrated my first birthday here. My earliest memory is casually drinking milk while my dad carried me in his arms, as we both took in the Paris night skyline from the balcony of our apartment.</div>
    </div>
  </li>

  <li>
    <div class="direction-r">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">Tehran, Iran</span>
        <span class="time-wrapper"><span class="time">Aug 1999</span></span>
      </div>
      <div class="desc">Yes, very random indeed. Although my parents would eventually return many years after. I lived here until a month before the tragic 9/11 incident, so I remember it as a very peaceful place. Another super random fact - I went to an Italian kindergarten during this time.</div>
    </div>
  </li>

  <li>
    <div class="direction-l">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">Seoul, South Korea</span>
        <span class="time-wrapper"><span class="time">Aug 2001</span></span>
      </div>
      <div class="desc">My first real experience of living in the motherland. Finished my Kindergarten and my first year of grade school here.</div>
    </div>
  </li>

  <li>
    <div class="direction-r">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">Brussels, Belgium</span>
        <span class="time-wrapper"><span class="time">Jul 2003</span></span>
      </div>
      <div class="desc">Attended the International School of Brussels (ISB). Didn't know how to speak a word of English when I first came but kids pick up languages insanely fast and so did I.</div>
    </div>
  </li>

  <li>
    <div class="direction-l">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">Geneva, Switzerland</span>
        <span class="time-wrapper"><span class="time">Mar 2005</span></span>
      </div>
      <div class="desc">Also went to an International School here (You guessed it -  International School of Geneva). Lived so close to the border of France that my mom would grocery shop in France and come back. Here I really started to take on English as my most comfortable language. My Korean was also fine since I (had to) spoke Korean with my parents, even to this day.</div>
    </div>
  </li>

  <li>
    <div class="direction-r">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">Seoul, South Korea</span>
        <span class="time-wrapper"><span class="time">Mar 2007</span></span>
      </div>
      <div class="desc">Finished grade school and the first 2 years of my middle school at an all-boys middle school. </div>
    </div>
  </li>

  <li>
    <div class="direction-l">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">Brussels, Belgium</span>
        <span class="time-wrapper"><span class="time">Feb 2010</span></span>
      </div>
      <div class="desc">Round 2! Came back full circle attending the same International School again, this time finishing high-school. My passion for building things and computer science began when I coded up a blackjack game in Visual Basic for an elective.</div>
    </div>
  </li>

  <li>
    <div class="direction-r">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">Los Angeles, U.S.</span>
        <span class="time-wrapper"><span class="time">Sep 2013</span></span>
      </div>
      <div class="desc">Worked hard (and played even harder) to get my undergradute and graduate degrees in Computer Science at UCLA. The longest I've ever stayed in one place without moving (6 years!) - fortunate to have made most of my lifelong friends here, and LA will always hold a special place in my heart.</div>
    </div>
  </li>

  <li>
    <div class="direction-l">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">Seoul, South Korea</span>
        <span class="time-wrapper"><span class="time">Feb 2019</span></span>
      </div>
      <div class="desc">Military Service. Fortunately, I don't actually have to go to the military since, with my masters, I could qualify for a program to just work as a software engineer for 3 years. I will be working at <a href='https://www.buzzvil.com/'>Buzzvil</a> as a Machine Learning engineer.</div>
    </div>
  </li>

  <li>
    <div class="direction-r">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">???</span>
        <span class="time-wrapper"><span class="time">???</span></span>
      </div>
      <div class="desc">Stay tuned!</div>
    </div>
  </li>
</ul>
