---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}
  <br><hr><br>

  <h2 class="post-list-heading">Patents</h2>

  <ul>
    <li>Korean Patent. No. 10-2023-0123761: Personalized Video DJ with Text-to-Video</li>
    <li>Korean Patent. No. 10-2023-0098584: Video keyword tagging with Large Language Models</li>
    <li>Korean Patent. No. 10-2023-0071581: Sports awareness & Mobile Feed Video Player</li>
    <li>Korean Patent. No. 10-2023-0036443: Next Watch Prediction using GPT</li>
    <li>Korean Patent. No. 10-2022-0184572: First Hero Optimization through Reinforcement Learning</li>
  </ul>

  <br><hr><br>

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

  {%- endif -%}

  <br><hr><br>

  <h2 class="post-list-heading">Miscellaneous</h2>

  <ul class="post-list">
    <li>I designed, and was <a href="https://www.buzzvil.com/career/culture_blog/2MycROIWFmtzUxCmp8ysB0">interviewed</a> for, the first introductory ML course for employees at Buzzvil.<li>
    <li>I wrote <a href="https://tech.buzzvil.com/blog/optimizing-itemcf">a tech blog</a> on how to optimize Item-to-item collaborative filtering with sparse vectors and <a href="https://www.ray.io/">Ray</a>.</li>
    <li>I gave an internal <a href="https://tech.buzzvil.com/seminar/tech-weekly-how-to-build-a-self-driving-car/">presentation</a> on building a neural net that could steer autonomously in <a href="https://carla.org/">CARLA</a>.</li>
  </ul>


</div>
