---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}
  <br><hr><br>

  <h2 class="post-list-heading">Projects</h2>

  <ul>
    <li><a href="https://github.com/tspeterkim/flash-attention-minimal">minimal-flash-attention</a>
      is Flash Attention in ~100 lines of CUDA (no cutlass!)</li>
    <li><a href="https://github.com/tspeterkim/cuda-1brc">cuda-1brc</a> is my CUDA solution to the One Billion
      Row Challenge. Related to this is <a href="https://tspeterkim.github.io/posts/cuda-1brc">
        my blog post.</a></li>
    <li><a href="https://github.com/tspeterkim/mixed-precision-from-scratch">mixed-precision-from-scratch</a>
      shows all the details of mixed precision training applied to a simple 2-layer MLP (including Tensor
      Core activation through cuBLAS). Read more <a href="https://tspeterkim.github.io/posts/mixed-precision-from-scratch">
        here</a>.</li>
  </ul>

  <br><hr><br>

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

  {%- endif -%}

  <br><hr><br>

  <h2 class="post-list-heading">Patents</h2>

  <ul>
    <li>Taeksang Kim. Personalized video DJ with text-to-video, Korean Pat. No. 10-0123761, 2023.</li>
    <li>Taeksang Kim. Video keyword tagging with large language models, Korean Pat. No. 10-0098584, 2023.</li>
    <li>Jina Hwang and Taeksang Kim. Sports awareness, mobile feed video player, Korean Pat. No. 10-0071581, 2023.</li>
    <li>Taeksang Kim. Next watch prediction using GPT, Korean Pat. No. 10-0036443, 2023.</li>
    <li>Taeksang Kim. First hero optimization through reinforcement learning, Korean Pat. No. 10-0184572, 2022.</li>
  </ul>

  <br><hr><br>

  <h2 class="post-list-heading">Miscellaneous</h2>

  <ul>
    <li>I designed, and was <a href="https://www.buzzvil.com/career/culture_blog/2MycROIWFmtzUxCmp8ysB0">interviewed</a> for, the first introductory ML course for employees at Buzzvil.</li>
    <li>I wrote <a href="https://tech.buzzvil.com/blog/optimizing-itemcf">a tech blog</a> on how to optimize Item-to-item collaborative filtering with sparse vectors and Ray.</li>
    <li>I made <a href="https://github.com/tspeterkim/insta-chat">an Instagram automation tool</a> that went <a href="https://www.reddit.com/r/programming/comments/1d3wrnd/diy_instagram_automation_for_my_influencer_wife/">viral</a>.</li>
  </ul>


</div>
